*
!/src
!/conf
!/requirements.*
!/version*
!/app
!/docker-entrypoint.sh
!/setup.py
!/requirements*
!/.git
!/downloads
!/commit.txt
!/Dockerfile
!/models
!/docker-compose.yaml
!/nvidia_path.py
!/web/


**/.DS_Store
**/__pycache__/**
/src/**/*.c
/src/**/*.so
/src/**/*.egg-info


